/*Mobile*/
@media only screen and (max-width: 400px) {
    .nav-bar {
        display: flex;
        flex-direction: row;
        background-color: black;
        height: 5em;
    }

    #logo {
        margin-top: 10%;
        margin-left: 10%;
        height: 3em;
    }

    .language-chooser, .sign-up-button, .menu-bar, .hide-collapsed-menu {
        display: none;
    }

    #res-form-index {
        background-color: white;
        width: 100%;
        padding: 1%;
    }

    #error-message {
        border: 5px solid black;
        background-color: #ffd100;
        width: 100%;
        height: 20em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        font-weight: bolder;
        color: black;
    }

    .res-div {
        width: 100%;
    }

    .res-div img {
        display: none;
    }

    .res-div h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 0.8em 0em 0em 1em;
    }

    .res-div p {
        font-size: small;
        margin-left: 1em;
        display: block;
    }

    .res-div input[type="text"], input[type="date"], input[type="time"], select {
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        width: 90%;
    }

    .res-div input[type="checkbox"] {
        margin-left: 0.5em;
    }

    .res-div select {
        width: 90%;
    }

    #res-form-hr {
        width: 90%;
        margin-left: 5%;
        margin-top: 1em;
        height: .1em;
        background-color: gray;
    }

    .order-button {
        display: block;
        width: 100%;
        padding: 1em 2em;
        font-size: 1.5em;
        cursor: pointer;
        text-align: center;
        margin-bottom: .5em;
        margin-top: .5em;
    }

    #edit-button {
        color: #ffd100;
        background-color: #242323;
        border: 2px solid #242323;
        font-size: large;
        padding: 1em;
    }

    #edit-button:hover {
        color: #242323;
        background-color: #ffd100;
    }

    #confirm-button {
        color: #242323;
        background-color: lawngreen;
        border: 2px solid lawngreen;
        font-size: large;
        padding: 1em;
    }

    #confirm-button:hover {
        background-color: #ffd100;
        border-color: #ffd100;
    }

    #order-button-member {
        background-color: darkblue;
        color: white;
        border: .1em solid darkblue;
    }


    #order-button-member:hover {
        background-color: white;
        color: darkblue;
        border: .1em solid darkblue;
    }

    #order-button-guest {
        background-color: #ffd100;
        color: black;
        border: .1em solid #ffd100;
    }

    #order-button-guest:hover, #res-form-order-page button:hover {
        background-color: black;
        color: #ffd100;
        border: .1em solid #ffd100;
    }

    #i-have-discount-div, #use-reward-points-div {
        width: 96%;
        height: 3em;
        background-color: lightgray;
        margin: 2%;
    }

    #collapsed-menu {
        display: inline-flex;
        justify-items: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 5em;
        z-index: 2;
    }

    #collapsed-menu button {
        background-color: #ffd100;
        color: black;
        border: none;
        width: 5em;
    }

    #collapsed-menu li {
        text-decoration: none;
        color: white;
        list-style-type: none;
        background-color: black;
        padding: 1em 5em 1em 2em;
    }

    #collapsed-menu a {
        text-decoration: none;
        color: white;
    }

    #collapsed-menu li:hover {
        background-color: #ffd100;
    }

    #collapsed-menu li:hover a {
        color: black;
        background-color: #ffd100;
    }

    #res-form-index a {
        margin-left: 2em;
    }

    #res-form-order-page {
        margin: 2em;
    }

    #order-form input[type="text"], input[type="email"], input[type="date"], input[type="time"], select {
        margin-left: 3%;
        margin-bottom: 0.5em;
        height: 3em;
        width: 90%;
        color: darkblue;
        font-weight: bold;
    }

    #order-form input::placeholder {
        color: darkblue;
    }

    #order-form fieldset {
        padding: 1em;
        margin-bottom: 2em;
    }

    .red-text {
        color: darkred;
        font-weight: bold;
    }

    #car-list-div {
        margin: 2em;
        width: 100%;
    }

    #car-list-div > ul > li {
        list-style-type: none;
        float: left;
    }

    h2 {
        margin-bottom: 1em;
    }

    .clr{
        clear:both;
        font-size:0;
    }

    .car-info-div {
        margin: .3em;
        border: .1em solid black;
        padding: 1.5em;
        font-size: large;
    }

    .car-info-div img {
        width: 10em;
    }

    .car-info-div a {
        background-color: #ffd100;
        color: black;
        text-decoration: none;
        padding: 1em 1em;
        display: block;
        text-align: center;
        border: .2em solid #ffd100;
        margin-top: 1em;
    }

    .car-info-div a:hover {
        background-color: black;
        color: #ffd100;
        text-decoration: none;
        padding: 1em 1em;
        display: block;
        text-align: center;
        border: .2em solid #ffd100;
    }

    .active-link a {
        background-color: #ffd100;
        color: black;
        font-weight: bold;
    }


    #recap-div {
        width: 100%;
        padding: 10%;
        background-color: white;
        overflow-wrap: break-word;
    }



    #recap-div span {
        font-weight: bold;
    }

    #recap-div a {
        background-color: #ffd100;
        color: black;
        text-decoration: none;
        padding: 1em 1em;
        display: block;
        text-align: center;
        border: .2em solid #ffd100;
        margin-top: 1em;
        font-weight: bold;
    }

    #recap-div a:hover {
        background-color: black;
        color: #ffd100;
        text-decoration: none;
        padding: 1em 1em;
        display: block;
        text-align: center;
        border: .2em solid #ffd100;
    }


    .splitHr {
        display: none;
    }

    .bottomContent {
        display: none;
    }

    .selectedTab {
        background-color: rgb(255, 207, 63);
    }

    .formItem {
        margin-bottom: 20px;
    }

    .submitButton {
        background-color: black;
        border: 1px solid #ffd100;
        padding: 1em;
        margin-left: 1.1em;
        color: #ffd100;
    }

    #newsletter, #newsletter form {
        margin: 1em 0em;
    }

    .newsletterInput {
        color: white;
        background-color: #242323;
        border: 1px solid #242323;
        height: 2em;
        padding: 2em;
        margin-left: 5%;
    }

    .newsletterInput::placeholder {
        color: white;
        font-size: large;
    }

    .socialMediaBar {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: black;
    }

    #socialMediaLinks {
        margin-right: auto;
    }

    #socialMediaLinks ul {
        list-style-type: none;
    }

    #socialMediaLinks li {
        margin: 1em 1em;
        font-size: large;
    }

    #socialMediaLinks a,
    #socialMediaLinks a:visited {
        color: #ffd100;
    }

    #socialMediaLinks a:hover {
        text-decoration: underline;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    body {
        background-color: white;
    }
}
